.image-container{
    background-image: url(images/backgroundimage.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
   ;
}

.image-text{
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 25%;
}

.image-text a{
    text-decoration: none; 
    color: black;
}

.image-text a:hover{
    color: cornsilk;
}

.home-page{
    background-color: burlywood;
}

.table{
    background-color: burlywood;
}



table, th, td{
    width: 85%;
    border-collapse: collapse;
    border: 1px solid black;
    table-layout: fixed;
    margin: auto;
    font-size: 20px;
    text-align: center; 
}

th{
    padding: 20px;
    color: #25D982;
}


td{
    padding: 20px;
    color: aliceblue;
}

h2{
    text-align: center;
    padding-top: 15px;
}

table{
    background-image: url(images/backgroundimage2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}